node_modules
*vendor
npm-debug.log
public/js/app.js
node_modules/@types/node/README.md
node_modules/caniuse-lite/CHANGELOG.md
node_modules/caniuse-lite/package.json
node_modules/es-abstract/CHANGELOG.md
node_modules/es-abstract/package.json
*.iml
*.xml
tests*
.env
.phpunit.result.cache
phpunit.xml


database/seeds/UserDev.php

composer.json
composer.lock
dump.html
config/debug-server.php


storage/oauth-public.key
storage/oauth-private.key

