*node_modules
*vendor
npm-debug.log
composer.json
composer.lock
public/js/app.js
node_modules/@types/node/README.md
node_modules/caniuse-lite/CHANGELOG.md
node_modules/caniuse-lite/package.json
node_modules/es-abstract/CHANGELOG.md
node_modules/es-abstract/package.json
*.iml
*.xml
tests*
.env
.phpunit.result.cache
phpunit.xml

tests/Feature/LoginTest.php
tests/Feature/ViewsTest.php

database/seeds/UserDev.php
composer.json
composer.lock
