
$color-nav: #ffffff 
$color-hover: #ffe4e4
$color-shadow: #000000
$color-border: #000000
$color-text-nav: #000000

*
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif
 
body
    background-color: #ffffff 
    width: vw
    height: 800px
    margin: 0
    padding: 0  
    
.main-nav
    height: 80px
    width: vw
    margin: 0px 0px
    background-color: $color-nav
    box-shadow: 0px 5px 11px 1px $color-shadow
    position: relative
    
    .bar-nav
        width: 60%
        height: 100%
        margin: auto

        .button
            height: 100%
            width: 100%
            padding: 4% 0px 
            margin: 0px 
            text-align: center
            
            li
                height: 40px
                width: 50px
                display: inline
                margin: 0px 0px
                padding: 30px 40px 30px
//change the name of selector
a
    text-decoration: none
    color: $color-text-nav
    font-weight: bold
    font-size: 12px
    text-align: center

li:hover
    background-color: $color-hover
    
.container-pagination
    width: vw
    

    .pagination
        list-style: none
        width: 15%
        margin: auto
        background-color: #6d0000
        align-items: center
        
        li
            display: inline-block
            font-size: 30px
            color: #ec0000

            a
                font-size: 20px

$background-page: #ffffff
$board-form: #ffffff9c
$input-border: #e4e4e4
$input-border-focus: #000000
$color-button: #522fd1
$button-hover:#2a07aa
$text-button: #ffffff
$shadow-board: #b4b4b4

$test: #63db00
    
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 16px
    font-family: Arial, Helvetica, sans-serif 

/*body
    background-color: $background-page
  */     
.content-form
    width: vw
    height: 40em
    display: flex
    //background-color: #51ff00
    align-items: center
    justify-content: center

    .board-form
        height: 90% 
        width:  80%
        display: flex
        justify-content: center
        flex-direction: column
        border-radius: 1em
        background-color: $board-form
        box-shadow: 0em 0em 1em $shadow-board
        
        .content-title
            height: 10%
            width: 100%
            margin: 1em 0em
            display: flex
            align-content: center
            //background-color: $test

            .title
                margin: auto
                font-size: 1.5em


                
        .form
            width: 20%
            align-items: center
            //border: 2px solid black
            margin: auto
            display: block

.items-form
    input
        width: 100%
        padding: 0.3em
        border: 0.5px solid $input-border
        border-radius: 0.2em
        margin: 0.5em 0

    input[type=text]:focus
        border: 1px solid $input-border-focus

    .button
        width: 100%
        margin: 0.5em 0em 0em
        padding: 0.5em
        background-color: $color-button
        color: $text-button
        border: none
        border-radius: 0.5em

    .button:hover
        background-color: $button-hover
        box-shadow: 0em 0em 0.5em #000000
        //font-weight: bold

.section-main
    margin: 30px 0px 