* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  width: vw;
  height: 50em;
}

.main-nav {
  height: 4em;
  width: vw;
  background-color: #ffffff;
  border-bottom: solid 0.2em #000000;
  display: -webkit-box;
  display: flex;
}

.main-nav .bar-nav {
  width: 70%;
  height: 100%;
}

.main-nav .bar-nav .button {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
}

.main-nav .bar-nav .button .title-button {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.main-nav .bar-nav .button .title-button .link {
  list-style: none;
}

.main-nav .login-nav {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: flex;
}

.main-nav .login-nav .login-button {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
}

.title-button:hover {
  background-color: #e4e4e4;
}

.container-pagination {
  width: vw;
  height: 3em;
  margin-top: 2em;
}

.container-pagination .pagination {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.container-pagination .pagination li {
  display: inline-block;
  font-size: 1.5em;
  color: #ec0000;
  margin: 0 0.2em;
}

.content-form {
  width: vw;
  height: 55em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.content-form .board-form {
  height: 90%;
  width: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 1em;
  background-color: #ffffff9c;
  box-shadow: 0em 0em 1em #b4b4b4;
}

.content-form .board-form .content-title {
  height: 5%;
  width: 100%;
  margin: 1em 0em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.content-form .board-form .content-title .title {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.content-form .board-form .form {
  width: 20%;
  -webkit-box-align: center;
          align-items: center;
  margin: 2em auto;
  display: block;
}

.items-form .button {
  width: 100%;
  margin: 0.5em 0em 0em;
  padding: 0.5em;
  background-color: #522fd1;
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
}

.items-form .button:hover {
  background-color: #2a07aa;
  box-shadow: 0em 0em 0.5em #000000;
}

.section-main {
  margin-top: 0.8em;
}

table {
  width: 80%;
  margin: 1em auto;
  border-collapse: collapse;
  border-radius: 1em;
  background-color: #ececec;
}

table th,
table td {
  border: 0.1em solid #ffffff;
  font-size: 0.8em;
  padding: 0.8em 1.5em;
  text-align: center;
}

table th .div-module,
table td .div-module {
  width: 30%;
  margin: 1.3em auto;
}

.container-menu {
  height: 2.5em;
  width: vw;
  display: -webkit-box;
  display: flex;
}

.container-menu .container-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
}

.item-menu {
  width: 10em;
  height: 3.4em;
  background-color: #522fd1;
  border-radius: 0.5em;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.item-menu .item-button {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: normal;
  margin: 0 auto;
}

.item-menu:hover {
  background-color: #2a07aa;
  box-shadow: 0em 0em 0.5em #000000;
}

.content-errors {
  width: vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.content-errors .errors {
  width: 20%;
  margin: 0 auto;
}

.list .list-select {
  width: 20em;
  height: 2em;
  margin-top: 0.5em;
  background-color: #ffffff;
}

input[type=search] {
  width: 20em;
  height: 2em;
  border: 0.1em solid #5e5e5e;
  border-radius: 0.5em;
  text-align: center;
}

input[type=date] {
  width: 20em;
  height: 2em;
  border: 0.1em solid #5e5e5e;
  border-radius: 0.5em;
  text-align: center;
}

select {
  width: 20em;
  height: 2em;
  border: 0.1em solid #5e5e5e;
  border-radius: 0.5em;
  text-align: center;
}

input[type=text] {
  width: 20em;
  height: 2em;
  border: 0.1em solid #5e5e5e;
  border-radius: 0.5em;
  text-align: center;
}

input[type=text]:focus {
  border: 1px solid #000000;
}

.content-detail {
  width: vw;
  height: vh;
  margin-bottom: 2em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.content-detail .board-detail {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 1em;
  background-color: #ffffff9c;
  box-shadow: 0em 0em 1em #b4b4b4;
}

.content-detail .board-detail .title-detail {
  width: 100%;
  margin: 1em 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
}

.content-detail .board-detail .info {
  width: 70%;
  height: 20%;
  margin: 0.5em auto;
}

.content-total {
  width: 100%;
  height: 5em;
  display: -webkit-box;
  display: flex;
  margin-bottom: 1em;
}

.content-total .content-empty {
  width: 60%;
  height: 100%;
}

.content-total .detail-total {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.validate-input {
  color: #cb0000;
  font-size: 1.1em;
  font-weight: bold;
}

